# this file
.gitattributes export-ignore

# github
.github export-ignore

# docker
Dockerfile export-ignore

# phpunit
phpunit.xml export-ignore
phpunit.xml.dist export-ignore

# phpunit testing directory
tests export-ignore

# ignored files
.gitignore export-ignore

# readme
README.md export-ignore

# license
LICENSE.md export-ignore

# phpcs configuration
.phpcs.xml.dist export-ignore

# binaries
bin

# wp cli config
wp-cli.yml
